:root {
    --primary-color: #2F4F4F;
    --secondary-color: #3d5c5c;
    --tertiary-color: #4b6969;
    --quaternary-color: #597676;
    --quinary-color: #668383;
    --senary-color: #749090;
    --septenary-color: #829d9d;
    --octonary-color: #90aaaa;
    --nonary-color: #9eb8b8;
    --denary-color: #acc5c5;
}



/* Media Queries for Responsiveness */
@media (max-width: 1200px) {
    header .container, .box-container {
        max-width: 100%;
        padding: 0 2rem;
    }
}

@media (max-width: 992px) {
    header .container {
        flex-direction: column;
        align-items: flex-start;
    }

    .box-container {
        padding: 2rem 1rem;
    }
}

@media (max-width: 768px) {
    header .container {
        padding: 0 1rem;
    }

    .service-card {
        margin: 1rem 0;
    }

    .box-container {
        padding: 1rem;
    }
}

@media (max-width: 576px) {
    header .container {
        padding: 0 0.5rem;
    }

    header .logo h1 {
        font-size: 1.2rem;
    }

    header .logo p {
        font-size: 0.8rem;
    }

    .box-container h2 {
        font-size: 1.5rem;
    }

    .box-container form input, .box-container form textarea, .box-container form button {
        font-size: 0.9rem;
    }
}

header.animated {
    opacity: 1;
    transform: translateY(0);
}

.service-card {
    background: var(--octonary-color);
    padding: 1.5rem;
    margin: 1rem 0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.service-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.service-card h3 a {
    color: var(--primary-color);
    text-decoration: none;
    transition: color 0.3s;
}

.service-card h3 a:hover {
    color: var(--secondary-color);
}

.service-card ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.service-card ul li {
    margin: 5px 0;
    display: flex;
    align-items: center;
}

.service-card ul li i {
    margin-right: 10px;
    color: var(--primary-color);
    color: var(--secondary-color);
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: var(--denary-color);
    color: var(--primary-color);
    padding-top: 120px; /* Adjust this value based on the header height */
}


header {
    background: var(--primary-color);
    color: var(--denary-color);
    padding: 1rem 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: height 0.5s ease-in-out, padding 0.5s ease-in-out;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    height: 100vh; /* Make header fullscreen */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header.fullscreen {
    height: 100vh; /* Fullscreen height */
    transition: height 0.5s ease-in-out, padding 0.5s ease-in-out;
}

header.top {
    height: auto; /* Auto height for non-home sections */
    padding: 0.5rem 0;
    justify-content: flex-start;
    transition: height 0.5s ease-in-out, padding 0.5s ease-in-out;
}

section {
    display: none; /* Hide all sections by default */
}

section.active {
    display: block; /* Show the active section */
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

header .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
    text-align: center;
}

header .logo {
    margin-bottom: 1rem;
}

header .logo h1 {
    margin: 0;
    font-size: 2.5rem;
}

header .logo p {
    margin: 0;
    font-size: 1.2rem;
}

header nav {
    margin-top: 1rem;
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

header nav ul li {
    margin: 10px 15px;
}

header nav ul li a {
    color: var(--denary-color);
    text-decoration: none;
    font-size: 1.5rem; /* Adjusted font size for icons */
    transition: color 0.3s;
}

header nav ul li a:hover {
    color: var(--quinary-color);
}

header nav ul li a i {
    font-size: 1.5rem; /* Ensure icons are appropriately sized */
}

header .social-links {
    margin-top: unset;
    display: flex;
    justify-content: center;
}

header .social-links a {
    margin: 0 15px;
    color: var(--denary-color);
    text-decoration: none;
    font-size: 1.8rem;
    transition: color 0.3s;
}

header .social-links a:hover {
    color: var(--quinary-color);
}

header h1 {
    margin: 0;
    font-size: 2rem;
}

header p {
    margin: 0.25rem 0;
    font-size: 0.9rem;
}

/*header nav {
    margin-top: 0.5rem;
}*/

header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    color: var(--denary-color);
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s;
}

header nav ul li a:hover {
    color: var(--quinary-color);
}

.social-links {
    margin-top: 1rem;
}

.social-links a {
    margin: 0 10px;
    text-decoration: none;
    font-size: 1.5rem;
    transition: color 0.3s;
    color: var(--primary-color);
}

.social-links a:hover {
    color: var(--quinary-color);
}

.box-container {
    padding: 4rem 2rem;
    max-width: 85vw;
    margin: 40px auto; /* Increased margin to create a larger gap between boxes */
    background: var(--denary-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
    border-radius: 8px;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.box-container.animated {
    opacity: 1;
    transform: translateY(0);
}

.box-container h2 {
    margin-top: 0;
    font-size: 2rem;
    color: var(--primary-color);
}

.box-container form {
    display: flex;
    flex-direction: column;
}

.box-container form input, .box-container form textarea {
    margin-bottom: 1rem;
    padding: 0.75rem;
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    font-size: 1rem;
    background-color: var(--denary-color);
    color: var(--primary-color);
}

.box-container form button {
    padding: 0.75rem;
    border: none;
    background: var(--primary-color);
    color: var(--denary-color);
    cursor: pointer;
    font-size: 1rem;
    border-radius: 4px;
    transition: background 0.3s;
}

.box-container form button:hover {
    background: var(--secondary-color);
}
.service-card ul li i, .service-card h3 i, .service-card ul li i, .service-card h3 i, .service-card h3 i {
    margin-right: 10px;
    vertical-align: middle;
}

div#projects-container {
    margin: unset;
    padding: unset;
    background-color: unset;
    border: unset;
    box-shadow: unset;
}

div#projects-container:hover {
    transform: none;
}
