$color_1: #fff;
$color_2: #18d26e;
$color_3: #35e888;
$color_4: rgba(255, 255, 255, 0.8);
$color_5: rgba(255, 255, 255, 0.7);
$color_6: #aaaaaa;
$color_7: #999;
$color_8: rgba(255, 255, 255, 0.25);
$color_9: #ffffff;
$color_10: #63eda3;
$color_11: #444444;
$color_12: rgba(255, 255, 255, 0.5);
$color_13: rgba(255, 255, 255, 0.3);
$font-family_1: "Open Sans", sans-serif;
$font-family_2: "Raleway", sans-serif;
$font-family_3: "Poppins", sans-serif;
$background-color_1: #040404;
$background-color_2: #18d26e;
$background-color_3: rgba(255, 255, 255, 0.3);
$background-color_4: rgba(255, 255, 255, 0.11);
$border-color_1: #18d26e;
$border-top-color_1: #eee;


@keyframes animate-loading {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

body {
	font-family: $font-family_1;
	background-color: $background-color_1;
	color: $color_1;
	position: relative;
	background: transparent;
	&::before {
		content: "";
		position: fixed;
		background: #040404 url("../img/bg.jpg") top right no-repeat;
		background-size: cover;
		left: 0;
		right: 0;
		top: 0;
		height: 100vh;
		z-index: -1;
	}
}
a {
	color: $color_2;
	text-decoration: none;
	&:hover {
		color: $color_3;
		text-decoration: none;
	}
}
h1 {
	font-family: $font-family_2;
}
h2 {
	font-family: $font-family_2;
}
h3 {
	font-family: $font-family_2;
}
h4 {
	font-family: $font-family_2;
}
h5 {
	font-family: $font-family_2;
}
h6 {
	font-family: $font-family_2;
}
#header {
	transition: ease-in-out 0.3s;
	position: relative;
	height: 100vh;
	display: flex;
	align-items: center;
	z-index: 997;
	overflow-y: auto;
	* {
		transition: ease-in-out 0.3s;
	}
	h1 {
		font-size: 48px;
		margin: 0;
		padding: 0;
		line-height: 1;
		font-weight: 700;
		font-family: $font-family_3;
		a {
			color: $color_1;
			line-height: 1;
			display: inline-block;
			&:hover {
				color: $color_1;
				line-height: 1;
				display: inline-block;
			}
		}
	}
	h2 {
		font-size: 24px;
		margin-top: 20px;
		color: $color_4;
		span {
			color: $color_1;
			border-bottom: 2px solid #18d26e;
			padding-bottom: 6px;
		}
	}
	img {
		padding: 0;
		margin: 0;
	}
	.social-links {
		margin-top: 40px;
		display: flex;
		a {
			font-size: 16px;
			display: flex;
			justify-content: center;
			align-items: center;
			background: rgba(255, 255, 255, 0.1);
			color: $color_1;
			line-height: 1;
			margin-right: 8px;
			border-radius: 50%;
			width: 40px;
			height: 40px;
			&:hover {
				background: #18d26e;
			}
		}
	}
}
#header.header-top {
	height: 80px;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.9);
	.social-links {
		display: none;
	}
	h2 {
		display: none;
	}
	h1 {
		margin-right: auto;
		font-size: 36px;
	}
	.container {
		display: flex;
		align-items: center;
	}
	.navbar {
		margin: 0;
	}
}
.navbar {
	padding: 0;
	margin-top: 35px;
	ul {
		margin: 0;
		padding: 0;
		display: flex;
		list-style: none;
		align-items: center;
	}
	li {
		position: relative;
		&:hover {
			>a {
				&:before {
					visibility: visible;
					width: 25px;
				}
				color: $color_1;
			}
		}
	}
	li+li {
		margin-left: 30px;
	}
	a {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0;
		font-family: $font-family_3;
		font-size: 16px;
		font-weight: 400;
		color: $color_5;
		white-space: nowrap;
		transition: 0.3s;
		&:focus {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 0;
			font-family: $font-family_3;
			font-size: 16px;
			font-weight: 400;
			color: $color_5;
			white-space: nowrap;
			transition: 0.3s;
			i {
				font-size: 12px;
				line-height: 0;
				margin-left: 5px;
			}
		}
		i {
			font-size: 12px;
			line-height: 0;
			margin-left: 5px;
		}
		&:before {
			content: "";
			position: absolute;
			height: 2px;
			bottom: -4px;
			left: 0;
			background-color: $background-color_2;
			visibility: hidden;
			width: 0px;
			transition: all 0.3s ease-in-out 0s;
		}
		&:hover {
			&:before {
				visibility: visible;
				width: 25px;
			}
			color: $color_1;
		}
	}
	.active {
		&:before {
			visibility: visible;
			width: 25px;
		}
		color: $color_1;
		&:focus {
			color: $color_1;
		}
	}
}
.mobile-nav-toggle {
	color: $color_1;
	font-size: 28px;
	cursor: pointer;
	display: none;
	line-height: 0;
	transition: 0.5s;
	position: fixed;
	right: 15px;
	top: 15px;
}
.navbar-mobile {
	position: fixed;
	overflow: hidden;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.9);
	transition: 0.3s;
	z-index: 999;
	margin-top: 0;
	.mobile-nav-toggle {
		position: absolute;
		top: 15px;
		right: 15px;
	}
	ul {
		display: block;
		position: absolute;
		top: 55px;
		right: 15px;
		bottom: 45px;
		left: 15px;
		padding: 10px 0;
		overflow-y: auto;
		transition: 0.3s;
		border: 2px solid rgba(255, 255, 255, 0.2);
	}
	li {
		padding: 12px 20px;
	}
	li+li {
		margin: 0;
	}
	a {
		font-size: 16px;
		position: relative;
		&:focus {
			font-size: 16px;
			position: relative;
		}
	}
}
section {
	overflow: hidden;
	position: absolute;
	width: 100%;
	top: 140px;
	bottom: 100%;
	opacity: 0;
	transition: ease-in-out 0.4s;
	z-index: 2;
	.container {
		background: rgba(0, 0, 0, 0.9);
		padding: 30px;
	}
}
section.section-show {
	top: 100px;
	bottom: auto;
	opacity: 1;
	padding-bottom: 45px;
}
.section-title {
	h2 {
		font-size: 14px;
		font-weight: 500;
		padding: 0;
		line-height: 1px;
		margin: 0 0 20px;
		letter-spacing: 2px;
		text-transform: uppercase;
		color: $color_6;
		font-family: $font-family_3;
		&::after {
			content: "";
			width: 120px;
			height: 1px;
			display: inline-block;
			background: #4ceb95;
			margin: 4px 10px;
		}
	}
	p {
		margin: 0;
		margin: -15px 0 15px;
		font-size: 36px;
		font-weight: 700;
		text-transform: uppercase;
		font-family: $font-family_3;
		color: $color_1;
	}
}
.about-me {
	.content {
		h3 {
			font-weight: 700;
			font-size: 26px;
			color: $color_2;
		}
		ul {
			list-style: none;
			padding: 0;
			li {
				margin-bottom: 20px;
				display: flex;
				align-items: center;
			}
			strong {
				margin-right: 10px;
			}
			i {
				font-size: 16px;
				margin-right: 5px;
				color: $color_2;
				line-height: 0;
			}
		}
		p {
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}
.counts {
	padding: 70px 0 60px;
	.count-box {
		padding: 30px 30px 25px;
		width: 100%;
		position: relative;
		text-align: center;
		background: rgba(255, 255, 255, 0.08);
		i {
			position: absolute;
			top: -25px;
			left: 50%;
			transform: translateX(-50%);
			font-size: 24px;
			background: rgba(255, 255, 255, 0.1);
			padding: 12px;
			color: $color_2;
			border-radius: 50px;
			line-height: 0;
		}
		span {
			font-size: 36px;
			display: block;
			font-weight: 600;
			color: $color_1;
		}
		p {
			padding: 0;
			margin: 0;
			font-family: $font-family_2;
			font-size: 14px;
		}
	}
}
.skills {
	.progress {
		height: 60px;
		display: block;
		background: none;
		border-radius: 0;
		.skill {
			padding: 10px 0;
			margin: 0;
			text-transform: uppercase;
			display: block;
			font-weight: 600;
			font-family: $font-family_3;
			color: $color_1;
			.val {
				float: right;
				font-style: normal;
			}
		}
	}
	.progress-bar-wrap {
		background: rgba(255, 255, 255, 0.2);
	}
	.progress-bar {
		width: 1px;
		height: 10px;
		transition: 0.9s;
		background-color: $background-color_2;
	}
}
.interests {
	.icon-box {
		display: flex;
		align-items: center;
		padding: 20px;
		background: rgba(255, 255, 255, 0.08);
		transition: ease-in-out 0.3s;
		i {
			font-size: 32px;
			padding-right: 10px;
			line-height: 1;
		}
		h3 {
			font-weight: 700;
			margin: 0;
			padding: 0;
			line-height: 1;
			font-size: 16px;
			color: $color_1;
		}
		&:hover {
			background: rgba(255, 255, 255, 0.12);
		}
	}
}
.testimonials {
	.testimonials-carousel {
		overflow: hidden;
	}
	.testimonials-slider {
		overflow: hidden;
	}
	.testimonial-item {
		box-sizing: content-box;
		min-height: 320px;
		.testimonial-img {
			width: 90px;
			border-radius: 50%;
			margin: -40px 0 0 40px;
			position: relative;
			z-index: 2;
			border: 6px solid rgba(255, 255, 255, 0.12);
		}
		h3 {
			font-size: 18px;
			font-weight: bold;
			margin: 10px 0 5px 45px;
			color: $color_1;
		}
		h4 {
			font-size: 14px;
			color: $color_7;
			margin: 0 0 0 45px;
		}
		.quote-icon-left {
			color: $color_8;
			font-size: 26px;
			display: inline-block;
			left: -5px;
			position: relative;
		}
		.quote-icon-right {
			color: $color_8;
			font-size: 26px;
			display: inline-block;
			right: -5px;
			position: relative;
			top: 10px;
		}
		p {
			font-style: italic;
			margin: 0 15px;
			padding: 20px 20px 60px;
			background: rgba(255, 255, 255, 0.1);
			border-radius: 6px;
			position: relative;
			z-index: 1;
		}
	}
	.swiper-pagination {
		margin-top: 20px;
		position: relative;
		.swiper-pagination-bullet {
			width: 12px;
			height: 12px;
			opacity: 1;
			background-color: $background-color_3;
		}
		.swiper-pagination-bullet-active {
			background-color: $background-color_2;
		}
	}
}
.resume {
	.resume-title {
		font-size: 26px;
		font-weight: 700;
		margin-top: 20px;
		margin-bottom: 20px;
		color: $color_1;
	}
	.resume-item {
		padding: 0 0 20px 20px;
		margin-top: -2px;
		border-left: 2px solid rgba(255, 255, 255, 0.2);
		position: relative;
		h4 {
			line-height: 18px;
			font-size: 18px;
			font-weight: 600;
			text-transform: uppercase;
			font-family: $font-family_3;
			color: $color_2;
			margin-bottom: 10px;
		}
		h5 {
			font-size: 16px;
			background: rgba(255, 255, 255, 0.15);
			padding: 5px 15px;
			display: inline-block;
			font-weight: 600;
			margin-bottom: 10px;
		}
		ul {
			padding-left: 20px;
			li {
				padding-bottom: 10px;
			}
		}
		&:last-child {
			padding-bottom: 0;
		}
		&::before {
			content: "";
			position: absolute;
			width: 16px;
			height: 16px;
			border-radius: 50px;
			left: -9px;
			top: 0;
			background: #18d26e;
			border: 2px solid #18d26e;
		}
	}
}
.services {
	.icon-box {
		text-align: center;
		background: rgba(204, 204, 204, 0.1);
		padding: 80px 20px;
		transition: all ease-in-out 0.3s;
		.icon {
			margin: 0 auto;
			width: 64px;
			height: 64px;
			background: #18d26e;
			border-radius: 5px;
			transition: all 0.3s ease-out 0s;
			display: flex;
			align-items: center;
			justify-content: center;
			margin-bottom: 20px;
			transform-style: preserve-3d;
			i {
				color: $color_1;
				font-size: 28px;
			}
			&::before {
				position: absolute;
				content: "";
				left: -8px;
				top: -8px;
				height: 100%;
				width: 100%;
				background: rgba(255, 255, 255, 0.15);
				border-radius: 5px;
				transition: all 0.3s ease-out 0s;
				transform: translateZ(-1px);
			}
		}
		h4 {
			font-weight: 700;
			margin-bottom: 15px;
			font-size: 24px;
			a {
				color: $color_1;
			}
		}
		p {
			line-height: 24px;
			font-size: 14px;
			margin-bottom: 0;
		}
		&:hover {
			background: #18d26e;
			border-color: $border-color_1;
			.icon {
				background: #fff;
				i {
					color: $color_2;
				}
				&::before {
					background: #35e888;
				}
			}
			h4 {
				a {
					color: $color_1;
				}
			}
			p {
				color: $color_1;
			}
		}
	}
}
.portfolio {
	.portfolio-item {
		margin-bottom: 30px;
	}
	#portfolio-flters {
		margin: 0 auto 15px;
		list-style: none;
		text-align: center;
		border-radius: 50px;
		padding: 2px 15px;
		li {
			cursor: pointer;
			display: inline-block;
			padding: 8px 16px 10px;
			font-size: 14px;
			font-weight: 600;
			line-height: 1;
			text-transform: uppercase;
			color: $color_1;
			background: rgba(255, 255, 255, 0.1);
			margin: 0 3px 10px;
			transition: all 0.3s ease-in-out;
			border-radius: 4px;
			&:hover {
				background: #18d26e;
			}
			&:last-child {
				margin-right: 0;
			}
		}
		li.filter-active {
			background: #18d26e;
		}
	}
	.portfolio-wrap {
		transition: 0.3s;
		position: relative;
		overflow: hidden;
		z-index: 1;
		background: rgba(0, 0, 0, 0.6);
		&::before {
			content: "";
			background: rgba(0, 0, 0, 0.6);
			position: absolute;
			left: 30px;
			right: 30px;
			top: 30px;
			bottom: 30px;
			transition: all ease-in-out 0.3s;
			z-index: 2;
			opacity: 0;
		}
		.portfolio-info {
			opacity: 0;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			text-align: center;
			z-index: 3;
			transition: all ease-in-out 0.3s;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			&::before {
				display: block;
				content: "";
				width: 48px;
				height: 48px;
				position: absolute;
				top: 35px;
				left: 35px;
				border-top: 3px solid #fff;
				border-left: 3px solid #fff;
				transition: all 0.5s ease 0s;
				z-index: 9994;
			}
			&::after {
				display: block;
				content: "";
				width: 48px;
				height: 48px;
				position: absolute;
				bottom: 35px;
				right: 35px;
				border-bottom: 3px solid #fff;
				border-right: 3px solid #fff;
				transition: all 0.5s ease 0s;
				z-index: 9994;
			}
			h4 {
				font-size: 20px;
				color: $color_1;
				font-weight: 600;
			}
			p {
				color: $color_9;
				font-size: 14px;
				text-transform: uppercase;
				padding: 0;
				margin: 0;
			}
		}
		.portfolio-links {
			text-align: center;
			z-index: 4;
			a {
				color: $color_1;
				margin: 0 2px;
				font-size: 28px;
				display: inline-block;
				transition: 0.3s;
				&:hover {
					color: $color_10;
				}
			}
		}
		&:hover {
			&::before {
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				opacity: 1;
			}
			.portfolio-info {
				opacity: 1;
				&::before {
					top: 15px;
					left: 15px;
				}
				&::after {
					bottom: 15px;
					right: 15px;
				}
			}
		}
	}
}
.portfolio-details {
	padding-top: 40px;
	background: rgba(0, 0, 0, 0.8);
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	overflow-y: auto;
	.container {
		padding-top: 20px;
		padding-bottom: 40px;
	}
	.portfolio-title {
		font-size: 26px;
		font-weight: 700;
		margin-bottom: 20px;
	}
	.portfolio-info {
		padding-top: 45px;
		h3 {
			font-size: 22px;
			font-weight: 400;
			margin-bottom: 20px;
		}
		ul {
			list-style: none;
			padding: 0;
			font-size: 15px;
			li+li {
				margin-top: 10px;
			}
		}
		p {
			font-size: 15px;
			padding: 15px 0 0;
		}
	}
	.swiper-pagination {
		margin-top: 20px;
		position: relative;
		.swiper-pagination-bullet {
			width: 12px;
			height: 12px;
			opacity: 1;
			background-color: $background-color_3;
		}
		.swiper-pagination-bullet-active {
			background-color: $background-color_2;
		}
	}
}
.contact {
	.info-box {
		color: $color_11;
		padding: 20px;
		width: 100%;
		background: rgba(255, 255, 255, 0.08);
		i.bx {
			font-size: 24px;
			color: $color_2;
			border-radius: 50%;
			padding: 14px;
			float: left;
			background: rgba(255, 255, 255, 0.1);
		}
		h3 {
			font-size: 20px;
			color: $color_12;
			font-weight: 700;
			margin: 10px 0 8px 68px;
		}
		p {
			padding: 0;
			color: $color_1;
			line-height: 24px;
			font-size: 14px;
			margin: 0 0 0 68px;
		}
		.social-links {
			margin: 5px 0 0 68px;
			display: flex;
			a {
				font-size: 18px;
				display: inline-block;
				color: $color_1;
				line-height: 1;
				margin-right: 12px;
				transition: 0.3s;
				&:hover {
					color: $color_2;
				}
			}
		}
	}
	.php-email-form {
		padding: 30px;
		background: rgba(255, 255, 255, 0.08);
		.error-message {
			display: none;
			background: rgba(255, 255, 255, 0.08);
			background: #ed3c0d;
			text-align: left;
			padding: 15px;
			font-weight: 600;
			br+br {
				margin-top: 25px;
			}
		}
		.sent-message {
			display: none;
			background: rgba(255, 255, 255, 0.08);
			background: #18d26e;
			text-align: center;
			padding: 15px;
			font-weight: 600;
		}
		.loading {
			display: none;
			background: rgba(255, 255, 255, 0.08);
			text-align: center;
			padding: 15px;
			&:before {
				content: "";
				display: inline-block;
				border-radius: 50%;
				width: 24px;
				height: 24px;
				margin: 0 10px -6px 0;
				border: 3px solid #18d26e;
				border-top-color: $border-top-color_1;
				animation: animate-loading 1s linear infinite;
			}
		}
		input {
			border-radius: 0;
			box-shadow: none;
			font-size: 14px;
			background: rgba(255, 255, 255, 0.08);
			border: 0;
			transition: 0.3s;
			color: $color_1;
			padding: 10px 15px;
			&:focus {
				background-color: $background-color_4;
			}
			&::-moz-placeholder {
				color: $color_13;
				opacity: 1;
			}
			&::placeholder {
				color: $color_13;
				opacity: 1;
			}
		}
		textarea {
			border-radius: 0;
			box-shadow: none;
			font-size: 14px;
			background: rgba(255, 255, 255, 0.08);
			border: 0;
			transition: 0.3s;
			color: $color_1;
			padding: 12px 15px;
			&:focus {
				background-color: $background-color_4;
			}
			&::-moz-placeholder {
				color: $color_13;
				opacity: 1;
			}
			&::placeholder {
				color: $color_13;
				opacity: 1;
			}
		}
		button[type=submit] {
			background: #18d26e;
			border: 0;
			padding: 10px 30px;
			color: $color_1;
			transition: 0.4s;
			border-radius: 4px;
			&:hover {
				background: #15bb62;
			}
		}
	}
}
@media (min-width: 1024px) {
	body {
		&::before {
			background-attachment: fixed;
		}
	}
}
@media (max-width: 992px) {
	#header {
		h1 {
			font-size: 36px;
		}
		h2 {
			font-size: 20px;
			line-height: 30px;
		}
		.social-links {
			margin-top: 15px;
		}
		.container {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	}
	.portfolio-details {
		.portfolio-info {
			padding-top: 20px;
		}
	}
}
@media (max-width: 768px) {
	#header.header-top {
		height: 60px;
		h1 {
			font-size: 26px;
		}
	}
	section {
		top: 120px;
	}
	section.section-show {
		top: 80px;
	}
}
@media (max-width: 991px) {
	.mobile-nav-toggle {
		display: block;
	}
	.navbar {
		ul {
			display: none;
		}
	}
}
