.u-section-3-1 {
    background-image: none;
}

.u-section-3-1 .u-sheet-1 {
    min-height: 530px;
}

.u-section-3-1 .u-layout-wrap-1 {
    margin-top: 60px;
    margin-bottom: 60px;
}

.u-section-3-1 .u-layout-cell-1 {
    min-height: 400px;
}

.u-section-3-1 .u-image-1 {
    background-image: url("images/mingkem_true.jpg");
}

.u-section-3-1 .u-container-layout-1 {
    padding: 30px;
}

.u-section-3-1 .u-layout-cell-2 {
    min-height: 400px;
}

.u-section-3-1 .u-container-layout-2 {
    padding: 30px;
}

.u-section-3-1 .u-text-1 {
    line-height: 1.5;
    font-size: 2.25rem;
    text-transform: uppercase;
    font-weight: 900;
    margin: 0 -29px 0 0;
}

.u-section-3-1 .u-text-2 {
    margin: 20px -29px 0 0;
}

.u-section-3-1 .u-text-3 {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    margin: 20px 551px 0 0;
}

@media (max-width: 1199px) {
    .u-section-3-1 .u-sheet-1 {
        min-height: 412px;
    }
    .u-section-3-1 .u-layout-wrap-1 {
        position: relative;
    }
    .u-section-3-1 .u-layout-cell-1 {
        min-height: 330px;
        background-position: 50% 50%;
    }
    .u-section-3-1 .u-layout-cell-2 {
        min-height: 330px;
    }
    .u-section-3-1 .u-text-1 {
        margin-right: 0;
    }
    .u-section-3-1 .u-text-2 {
        margin-right: -23px;
    }
    .u-section-3-1 .u-text-3 {
        margin-right: -23px;
    }
}

@media (max-width: 991px) {
    .u-section-3-1 .u-sheet-1 {
        min-height: 557px;
    }
    .u-section-3-1 .u-layout-cell-1 {
        min-height: 253px;
    }
    .u-section-3-1 .u-layout-cell-2 {
        min-height: 100px;
    }
    .u-section-3-1 .u-text-2 {
        margin-right: -17px;
    }
    .u-section-3-1 .u-text-3 {
        margin-right: -17px;
    }
}

@media (max-width: 767px) {
    .u-section-3-1 .u-sheet-1 {
        min-height: 658px;
    }
    .u-section-3-1 .u-layout-cell-1 {
        min-height: 569px;
    }
    .u-section-3-1 .u-container-layout-1 {
        padding-left: 10px;
        padding-right: 10px;
    }
    .u-section-3-1 .u-container-layout-2 {
        padding-left: 10px;
        padding-right: 10px;
    }
    .u-section-3-1 .u-text-2 {
        margin-right: -22px;
    }
    .u-section-3-1 .u-text-3 {
        margin-right: -22px;
    }
}

@media (max-width: 575px) {
    .u-section-3-1 .u-sheet-1 {
        min-height: 710px;
    }
    .u-section-3-1 .u-layout-cell-1 {
        min-height: 358px;
    }
    .u-section-3-1 .u-text-1 {
        font-size: 1.875rem;
    }
    .u-section-3-1 .u-text-2 {
        margin-right: -13px;
    }
    .u-section-3-1 .u-text-3 {
        margin-right: -13px;
    }
}

.u-section-3-2 {
    background-image: none;
}

.u-section-3-2 .u-sheet-1 {
    min-height: 530px;
}

.u-section-3-2 .u-layout-wrap-1 {
    margin-top: 60px;
    margin-bottom: 60px;
}

.u-section-3-2 .u-layout-cell-1 {
    min-height: 400px;
}

.u-section-3-2 .u-image-1 {
    background-image: url("images/mingkem_true.jpg");
}

.u-section-3-2 .u-container-layout-1 {
    padding: 30px;
}

.u-section-3-2 .u-layout-cell-2 {
    min-height: 400px;
}

.u-section-3-2 .u-container-layout-2 {
    padding: 30px;
}

.u-section-3-2 .u-text-1 {
    line-height: 1.5;
    font-size: 2.25rem;
    text-transform: uppercase;
    font-weight: 900;
    margin: 0 -29px 0 0;
}

.u-section-3-2 .u-text-2 {
    margin: 20px -29px 0 0;
}

.u-section-3-2 .u-text-3 {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    margin: 20px 551px 0 0;
}

@media (max-width: 1199px) {
    .u-section-3-2 .u-sheet-1 {
        min-height: 412px;
    }
    .u-section-3-2 .u-layout-wrap-1 {
        position: relative;
    }
    .u-section-3-2 .u-layout-cell-1 {
        min-height: 330px;
        background-position: 50% 50%;
    }
    .u-section-3-2 .u-layout-cell-2 {
        min-height: 330px;
    }
    .u-section-3-2 .u-text-1 {
        margin-right: 0;
    }
    .u-section-3-2 .u-text-2 {
        margin-right: -23px;
    }
    .u-section-3-2 .u-text-3 {
        margin-right: -23px;
    }
}

@media (max-width: 991px) {
    .u-section-3-2 .u-sheet-1 {
        min-height: 557px;
    }
    .u-section-3-2 .u-layout-cell-1 {
        min-height: 253px;
    }
    .u-section-3-2 .u-layout-cell-2 {
        min-height: 100px;
    }
    .u-section-3-2 .u-text-2 {
        margin-right: -17px;
    }
    .u-section-3-2 .u-text-3 {
        margin-right: -17px;
    }
}

@media (max-width: 767px) {
    .u-section-3-2 .u-sheet-1 {
        min-height: 658px;
    }
    .u-section-3-2 .u-layout-cell-1 {
        min-height: 569px;
    }
    .u-section-3-2 .u-container-layout-1 {
        padding-left: 10px;
        padding-right: 10px;
    }
    .u-section-3-2 .u-container-layout-2 {
        padding-left: 10px;
        padding-right: 10px;
    }
    .u-section-3-2 .u-text-2 {
        margin-right: -22px;
    }
    .u-section-3-2 .u-text-3 {
        margin-right: -22px;
    }
}

@media (max-width: 575px) {
    .u-section-3-2 .u-sheet-1 {
        min-height: 710px;
    }
    .u-section-3-2 .u-layout-cell-1 {
        min-height: 358px;
    }
    .u-section-3-2 .u-text-1 {
        font-size: 1.875rem;
    }
    .u-section-3-2 .u-text-2 {
        margin-right: -13px;
    }
    .u-section-3-2 .u-text-3 {
        margin-right: -13px;
    }
}

.u-section-3-3 {
    background-image: none;
}

.u-section-3-3 .u-sheet-1 {
    min-height: 530px;
}

.u-section-3-3 .u-layout-wrap-1 {
    margin-top: 60px;
    margin-bottom: 60px;
}

.u-section-3-3 .u-layout-cell-1 {
    min-height: 400px;
}

.u-section-3-3 .u-image-1 {
    background-image: url("images/mingkem_true.jpg");
}

.u-section-3-3 .u-container-layout-1 {
    padding: 30px;
}

.u-section-3-3 .u-layout-cell-2 {
    min-height: 400px;
}

.u-section-3-3 .u-container-layout-2 {
    padding: 30px;
}

.u-section-3-3 .u-text-1 {
    line-height: 1.5;
    font-size: 2.25rem;
    text-transform: uppercase;
    font-weight: 900;
    margin: 0 -29px 0 0;
}

.u-section-3-3 .u-text-2 {
    margin: 20px -29px 0 0;
}

.u-section-3-3 .u-text-3 {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    margin: 20px 551px 0 0;
}

@media (max-width: 1199px) {
    .u-section-3-3 .u-sheet-1 {
        min-height: 412px;
    }
    .u-section-3-3 .u-layout-wrap-1 {
        position: relative;
    }
    .u-section-3-3 .u-layout-cell-1 {
        min-height: 330px;
        background-position: 50% 50%;
    }
    .u-section-3-3 .u-layout-cell-2 {
        min-height: 330px;
    }
    .u-section-3-3 .u-text-1 {
        margin-right: 0;
    }
    .u-section-3-3 .u-text-2 {
        margin-right: -23px;
    }
    .u-section-3-3 .u-text-3 {
        margin-right: -23px;
    }
}

@media (max-width: 991px) {
    .u-section-3-3 .u-sheet-1 {
        min-height: 557px;
    }
    .u-section-3-3 .u-layout-cell-1 {
        min-height: 253px;
    }
    .u-section-3-3 .u-layout-cell-2 {
        min-height: 100px;
    }
    .u-section-3-3 .u-text-2 {
        margin-right: -17px;
    }
    .u-section-3-3 .u-text-3 {
        margin-right: -17px;
    }
}

@media (max-width: 767px) {
    .u-section-3-3 .u-sheet-1 {
        min-height: 658px;
    }
    .u-section-3-3 .u-layout-cell-1 {
        min-height: 569px;
    }
    .u-section-3-3 .u-container-layout-1 {
        padding-left: 10px;
        padding-right: 10px;
    }
    .u-section-3-3 .u-container-layout-2 {
        padding-left: 10px;
        padding-right: 10px;
    }
    .u-section-3-3 .u-text-2 {
        margin-right: -22px;
    }
    .u-section-3-3 .u-text-3 {
        margin-right: -22px;
    }
}

@media (max-width: 575px) {
    .u-section-3-3 .u-sheet-1 {
        min-height: 710px;
    }
    .u-section-3-3 .u-layout-cell-1 {
        min-height: 358px;
    }
    .u-section-3-3 .u-text-1 {
        font-size: 1.875rem;
    }
    .u-section-3-3 .u-text-2 {
        margin-right: -13px;
    }
    .u-section-3-3 .u-text-3 {
        margin-right: -13px;
    }
}

.u-section-1 {
    background-image: none;
    min-height: 683px;
}

.u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 1140px) / 2) + 1140px);
    margin: 0 0 0 auto;
}

.u-section-1 .u-layout-cell-1 {
    min-height: 683px;
    background-image: none;
}

.u-section-1 .u-container-layout-1 {
    padding: 30px;
}

.u-section-1 .u-text-1 {
    font-weight: 700;
    line-height: 1.4;
    font-size: 3.75rem;
    margin: 77px 0 0;
}

.u-section-1 .u-text-2 {
    font-size: 10rem;
    text-transform: uppercase;
    font-weight: 100;
    margin: -17px 0 0;
}

.u-section-1 .u-text-3 {
    font-size: 1.125rem;
    letter-spacing: 0px;
    width: 377px;
    margin: 20px auto 0;
}

.u-section-1 .u-image-1 {
    min-height: 683px;
    background-image: url("images/OSP-CO1.jpg");
}

.u-section-1 .u-container-layout-2 {
    padding: 30px 0 0 30px;
}

@media (max-width: 1199px) {
    .u-section-1 {
        min-height: 563px;
    }
    .u-section-1 .u-layout-wrap-1 {
        width: calc(((100% - 940px) / 2) + 940px);
    }
    .u-section-1 .u-layout-cell-1 {
        min-height: 563px;
    }
    .u-section-1 .u-text-1 {
        font-size: 3rem;
    }
    .u-section-1 .u-text-2 {
        font-size: 8.125rem;
    }
    .u-section-1 .u-text-3 {
        width: auto;
        margin-left: 31px;
        margin-right: 31px;
    }
    .u-section-1 .u-image-1 {
        background-position: 50% 50%;
        min-height: 563px;
    }
}

@media (max-width: 991px) {
    .u-section-1 {
        min-height: 431px;
    }
    .u-section-1 .u-layout-wrap-1 {
        width: calc(((100% - 720px) / 2) + 720px);
    }
    .u-section-1 .u-layout-cell-1 {
        min-height: 100px;
    }
    .u-section-1 .u-container-layout-1 {
        padding-left: 35px;
        padding-right: 35px;
    }
    .u-section-1 .u-text-1 {
        font-size: 1.5rem;
    }
    .u-section-1 .u-text-2 {
        font-size: 6rem;
        width: auto;
        margin-top: 0;
        margin-left: auto;
        margin-right: auto;
    }
    .u-section-1 .u-text-3 {
        margin-top: 3px;
        margin-left: 0;
        margin-right: 0;
    }
    .u-section-1 .u-image-1 {
        min-height: 431px;
    }
}

@media (max-width: 767px) {
    .u-section-1 {
        min-height: 747px;
    }
    .u-section-1 .u-layout-wrap-1 {
        width: calc(((100% - 540px) / 2) + 540px);
    }
    .u-section-1 .u-container-layout-1 {
        padding: 50px 50px 50px 30px;
    }
    .u-section-1 .u-text-1 {
        font-size: 3rem;
    }
    .u-section-1 .u-text-2 {
        font-size: 7.5rem;
    }
    .u-section-1 .u-image-1 {
        min-height: 551px;
    }
    .u-section-1 .u-container-layout-2 {
        padding-left: 10px;
    }
}

@media (max-width: 575px) {
    .u-section-1 {
        min-height: 507px;
    }
    .u-section-1 .u-layout-wrap-1 {
        width: calc(((100% - 340px) / 2) + 340px);
    }
    .u-section-1 .u-container-layout-1 {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .u-section-1 .u-text-2 {
        font-size: 6rem;
    }
    .u-section-1 .u-image-1 {
        min-height: 347px;
    }
}

.u-section-2 .u-layout-wrap-1 {
    margin: 1px auto 1px 0;
}

.u-section-2 .u-layout-cell-1 {
    min-height: 588px;
}

.u-section-2 .u-container-layout-1 {
    padding: 30px 50px;
}

.u-section-2 .u-text-1 {
    margin-top: 0;
    margin-bottom: 0;
}

.u-section-2 .u-text-2 {
    margin-bottom: 0;
    margin-top: 20px;
}

.u-section-2 .u-image-1 {
    min-height: 588px;
    background-image: url("images/IMG_20210324_141824524.jpg");
}

.u-section-2 .u-container-layout-2 {
    padding: 30px 60px;
}

.u-section-2 .u-btn-1 {
    border-style: none;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.875rem;
    letter-spacing: 1px;
    background-image: none;
    margin: 457px auto 0;
}

@media (max-width: 1199px) {
    .u-section-2 {
        min-height: 383px;
    }
    .u-section-2 .u-layout-wrap-1 {
        margin-right: initial;
        margin-left: initial;
    }
    .u-section-2 .u-layout-cell-1 {
        min-height: 485px;
    }
    .u-section-2 .u-image-1 {
        min-height: 485px;
        background-position: 50% 50%;
    }
}

@media (max-width: 991px) {
    .u-section-2 {
        min-height: 269px;
    }
    .u-section-2 .u-layout-cell-1 {
        min-height: 100px;
    }
    .u-section-2 .u-container-layout-1 {
        padding-left: 30px;
        padding-right: 30px;
    }
    .u-section-2 .u-image-1 {
        min-height: 371px;
    }
    .u-section-2 .u-container-layout-2 {
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media (max-width: 767px) {
    .u-section-2 {
        min-height: 415px;
    }
    .u-section-2 .u-image-1 {
        min-height: 417px;
    }
    .u-section-2 .u-container-layout-2 {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (max-width: 575px) {
    .u-section-2 {
        min-height: 261px;
    }
    .u-section-2 .u-image-1 {
        min-height: 263px;
    }
}

.u-block-49ef-2 {
    position: absolute;
    bottom: 10px;
    width: auto;
    height: auto;
}

.u-block-49ef-3 {
    position: absolute;
    left: 0;
    width: 40px;
    height: 40px;
}

.u-block-49ef-4 {
    position: absolute;
    width: 40px;
    height: 40px;
    left: auto;
    right: 0;
}