:root, :root.one {
    --primary-color: #3B3A30;
    --secondary-color: #5C5947;
    --tertiary-color: #7D7A5F;
    --quaternary-color: #9E9A77;
    --quinary-color: #BFB98F;
    --senary-color: #E0D9A7;
    --septenary-color: #F3E9B7;
    --octonary-color: #FFF5C7;
    --nonary-color: #FFFAE7;
    --denary-color: #FFFFF5;
}

:root.two {
    --primary-color: #0D0D0D;
    --secondary-color: #262626;
    --tertiary-color: #404040;
    --quaternary-color: #595959;
    --quinary-color: #737373;
    --senary-color: #8C8C8C;
    --septenary-color: #A6A6A6;
    --octonary-color: #BFBFBF;
    --nonary-color: #D9D9D9;
    --denary-color: #d5d5d5;
}

:root.three {
    --primary-color: #4d0000;
    --secondary-color: #660000;
    --tertiary-color: #800000;
    --quaternary-color: #990000;
    --quinary-color: #b30000;
    --senary-color: #ffd700;
    --septenary-color: #ffcc00;
    --octonary-color: #ffb300;
    --nonary-color: #ff9900;
    --denary-color: #ff8000;
}

:root.four {
    --primary-color: #FFA700;
    --secondary-color: #e59004;
    --tertiary-color: #cc7908;
    --quaternary-color: #b26210;
    --quinary-color: #994b18;
    --senary-color: #7f3420;
    --septenary-color: #661d28;
    --octonary-color: #4c0630;
    --nonary-color: #330039;
    --denary-color: #2d0b0b;
}

:root.five {
    --primary-color: #ffcccc;
    --secondary-color: #ffb3b3;
    --tertiary-color: #ff9999;
    --quaternary-color: #ff8080;
    --quinary-color: #ff6666;
    --senary-color: #eb4d4d;
    --septenary-color: #d43939;
    --octonary-color: #bc2626;
    --nonary-color: #a31313;
    --denary-color: #8B0000;
}

:root.six {
    --primary-color: #FF7F7F;
    --secondary-color: #FF9F7F;
    --tertiary-color: #FFBF7F;
    --quaternary-color: #FFDF7F;
    --quinary-color: #FFFF7F;
    --senary-color: #FFFF9F;
    --septenary-color: #FFFFBF;
    --octonary-color: #FFFFDF;
    --nonary-color: #FFFFFF;
    --denary-color: #FFF5EE;
}

.blur {
    filter: blur(2px);
}

html::-webkit-scrollbar {
    display: none;
}

body {
    font-family: 'Poppins', 'Kalnia', sans-serif;
    margin: 0;
    padding: 120px 0 0;
    line-height: 1.6;
    background-color: var(--denary-color);
    color: var(--primary-color);
}

h1, h2 {
    font-family: 'Kalnia';
}

h3 {
    margin-top: 0;
}

a:-webkit-any-link {
    text-decoration: none;
    color: inherit;
}

/* Header Styles */
header {
    background: var(--primary-color);
    color: var(--denary-color);
    padding: 1rem 0;
    box-shadow: 0px 2px 10px 5px rgba(0, 0, 0, 0.1);
    transition: height 0.5s ease-in-out, padding 0.5s ease-in-out;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header.fullscreen {
    height: 100vh;
}

header.top {
    height: auto;
    justify-content: flex-start;
    border-radius: 0 0 75px 75px;
}

header.animated {
    opacity: 1;
    transform: translateY(0);
}

header .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
    text-align: center;
}

header .logo {
    margin-bottom: 1rem;
}

header .logo h1 {
    margin: 0;
    font-size: 2.5rem;
}

header .logo p {
    margin: 0;
    font-size: 1.2rem;
}

header nav {
    margin-top: 1rem;
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    color: var(--denary-color);
    text-decoration: none;
    font-size: 1.5rem;
    transition: color 0.3s;
}

header nav ul li a:hover {
    color: var(--quinary-color);
}

header nav ul li a i {
    font-size: 1.5rem;
}

header .social-links {
    margin-top: unset;
    display: flex;
    justify-content: center;
}

header .social-links a {
    color: var(--denary-color);
    font-size: 1.8rem;
    margin: 0 15px;
}

header .social-links a:hover {
    color: var(--quinary-color);
}

/* Section Styles */
section {
    display: none;
}

section.active {
    display: block;
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Box Container Styles */
.box-container {
    padding: 2rem;
    max-width: 85vw;
    margin: 60px auto;
    background: var(--denary-color);
    box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
    border-radius: 8px;
    transform: translateY(20px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.box-container.animated {
    opacity: 1;
    transform: translateY(0);
}

.box-container h2 {
    margin-top: 0;
    font-size: 2rem;
    color: var(--primary-color);
}

.box-container form {
    display: flex;
    flex-direction: column;
}

.box-container form input,
.box-container form textarea {
    margin-bottom: 1rem;
    padding: 0.75rem;
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    font-size: 1rem;
    background-color: var(--denary-color);
    color: var(--primary-color);
}

.box-container form button {
    padding: 0.75rem;
    border: none;
    background: var(--primary-color);
    color: var(--denary-color);
    cursor: pointer;
    font-size: 1rem;
    border-radius: 4px;
    transition: background 0.3s;
}

.box-container form button:hover {
    background: var(--secondary-color);
}

/* Service Card Styles */
.service-card {
    background: var(--octonary-color);
    padding: 1.5rem;
    margin: 1rem 0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    text-align: justify;
}

.service-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.service-card h3 a {
    color: var(--primary-color);
    text-decoration: none;
    transition: color 0.3s;
}

.service-card h3 a:hover {
    color: var(--secondary-color);
}

.service-card ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.service-card ul li {
    margin: 5px 0;
    display: flex;
    align-items: center;
}

.service-card ul li i,
.service-card h3 i {
    margin-right: 10px;
    color: var(--secondary-color);
    vertical-align: middle;
}

.service-card p {
    margin: 0.45rem auto;
}

/* Other Styles */
.social-links a {
    margin: 0 10px;
    text-decoration: none;
    font-size: 1.6rem;
    color: var(--primary-color);
    transition: color 0.3s;
}

.social-links a:hover {
    color: var(--quinary-color);
}

.color-switcher {
    display: flex;
    justify-content: center;
    margin: 1rem 0rem 0.5rem;
}

.color-btn {
    background: none;
    border: none;
    cursor: pointer;
    margin: 0 5px;
    font-size: 2rem;
    transition: transform 0.3s;
    color: var(--primary-color);
}

.color-btn:hover {
    transform: translateY(-5px) rotate(10deg);
    color: var(--secondary-color);
}

/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: var(--denary-color);
    margin: auto;
    padding: 20px;
    border: 3px solid var(--primary-color);
    width: 80%;
    max-width: 500px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.close-button {
    color: var(--primary-color);
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: var(--secondary-color);
    text-decoration: none;
    cursor: pointer;
}

div#projects-container,
div#service-container {
    margin: unset;
    padding: unset;
    background-color: unset;
    border: unset;
    box-shadow: unset;
}

div#projects-container:hover,
div#service-container:hover {
    transform: none;
}

div#skills {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
}

/* Media Queries */
@media (max-width: 640px) {
    body {
        font-size: 12px;
        line-height: 1.5;
    }

    .container {
        max-width: 100%;
        padding: 20px;
    }

    .section {
        padding: 25px 20px;
    }

    h1, h2, h3, h4, h5, h6 {
        margin-bottom: 10px;
    }

    p {
        margin-bottom: 20px;
    }

    ul, ol {
        margin-bottom: 20px;
    }

    li {
        margin-bottom: 15px;
    }

    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 19px;
    }

    p {
        font-size: 11px;
    }

    header nav ul li {
        margin: 0 10px;
    }

    header .logo {
        margin-bottom: 0.5rem;
    }

    header .container {
        padding: 0 0.5rem;
    }

    header .logo h1 {
        font-size: 1.8rem;
        margin-bottom: 0.5rem;
    }

    header .logo p {
        font-size: 0.8rem;
        margin-bottom: 1rem;
    }

    header .social-links a, .social-links a {
        margin: 0 10px;
        font-size: 1.65rem;
    }

    header nav {
        margin-top: 0.5rem;
    }

    header.top {
        border-radius: 0 0 35px 35px;
    }

    .box-container {
        padding: 1rem;
        max-width: 95vw;
        margin: 0 auto;
    }

    .box-container h2 {
        font-size: 1.2rem;
    }

    .box-container form input,
    .box-container form textarea,
    .box-container form button {
        font-size: 0.7rem;
    }
}
